<head>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
  <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,minimum-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
{% if page.description %}<meta name="description" content="{{page.description}}">
{% elsif page.excerpt %}<meta name="description" content="{{page.excerpt | strip_html | strip_newlines | truncate: 160}}">
{% else %}<meta name="description" content="{{ site.description }}">{% endif %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <script type="application/ld+json">
  {% include metadata.json %}
  </script>

  <style amp-custom>
  {% capture include_to_scssify %}
    {% include styles.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
  </style>

<style amp-custom>
amp-web-push-widget button.subscribe {display: inline-flex;align-items: center;border-radius: 2px;border: 0;box-sizing: border-box;margin: 0;padding: 10px 15px;cursor: pointer;outline: none;font-size: 15px;font-weight: 400;background: #4A90E2;color: white;box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
amp-web-push-widget button.subscribe .subscribe-icon {margin-right: 10px;}
amp-web-push-widget button.subscribe:active {transform: scale(0.99);}
amp-web-push-widget button.unsubscribe {display: inline-flex;align-items: center;justify-content: center;height: 45px;border: 0;margin: 0;cursor: pointer;outline: none;font-size: 15px;font-weight: 400;background: transparent;color: #B1B1B1;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
</style>

  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
<script async custom-element="amp-auto-ads" src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js"></script>
<script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
<link rel="manifest" href="/assets/PWA/manifest.json">
<meta name="theme-color" content="#2196f3"/>
<script async custom-element="amp-install-serviceworker" src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>
<script async custom-element="amp-web-push" src="https://cdn.ampproject.org/v0/amp-web-push-0.1.js"></script>
</head>
