article {
margin: 0px 1px 10px 1px;
border: 1px solid #d9d9d9;
padding: 13px 15px 0px 20px;
border-radius: 2px 2px 2px 2px;
-moz-border-radius: 2px 2px 2px 2px;
}
article:hover {
text-decoration: none;
background: #F0FDDC;
z-index: 6;
}
